*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* riga viene usata in tutta la pagina */
.row{
    width: 100%;
    padding: 30px;
}
/* container 1200px definisce larghezza  */
.container{
    max-width: 1200px;
    display: flex;
    font-size: x-large;
    margin:  auto;
}
/* da il bordo trattegiato a tutti i quadrati */
.square{
    border: 3px dashed black;
}
/* classe che anno tutte e tre i div header in alto */
.hdiv{
    width: 25%;
    border: 2px dotted black;
    padding: 10px;
    background-color: rgb(255, 213, 0);
   
}
/* div header in alto chentrale */
.hdivc.hdiv{
    width: 50%;
    text-align: center;
}
 /* div in alto a destra  */
.hdivs.hdiv{
    text-align: right;
}
/* quadrato seconda riga */
.pink{
    background-color: palevioletred;
    height: 300px;
    width: 100%;
}
/* container quadrato seconda riga  */
.container.nove {
    max-width: 900px;
}
/* quadrato blu  */
.square.blu{
    background-color: blue;
    width: 60%;
    height: 400px;
}
/* quadrato corallo chiaro */
.square.red{
    background-color: lightcoral;
    width: 40%;
    height: 400px;
}
/* quadrato grande verde */
.green{
    background-color: green;
    height: 800px;
    width: 100%;
}
/* quadrati beige sono 4 */
.beige{
    width: 18%;
    height: 550px;
    background-color: beige;
}
/* quadrato rosa  */
.rose{
    width: 28%;
    height: 550px;
    background-color: pink;
}
/* container footer serve per mettere proprieta flex neccessarie solo nel footer  */
.container.footer{
    justify-content: space-between;
    height: 100px;
    background-color: aquamarine;
    align-items: center;
    padding: 20px;
}
/* quadrattini piccoli nel footer  */
.footer-text{
    font-size: large;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    background-color: blueviolet;

}
/* inpostano i colori di sfondo alle row  */
.bg-colorgray{
    background-color: lightgray;
}
.bg-colorblue{
    background-color: blue;
}
.bg-colorblack{
    background-color: rgb(26, 26, 26);
}
.bg-colorlightblue{
    background-color: lightskyblue;
}