*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    width: 100%;
    background-color: aqua;
    border: 3px solid black;
    padding: 30px;
}
.container{
    max-width: 1200px;
    background-color: beige;
    display: flex;
    font-size: x-large;
    margin:  auto;
}
.hdiv{
    width: 25%;
    border: 2px dotted black;
    padding: 10px;
   
}
.hdivc.hdiv{
    width: 50%;
    text-align: center;
}
.hdivs.hdiv{
    text-align: right;
}
.pink{
    background-color: palevioletred;
    height: 300px;
    width: 100%;
}
.container.nove {
    max-width: 900px;
}