*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    width: 100%;
    background-color: aqua;
    border: 3px solid black;
    padding: 30px;
}
.container{
    max-width: 1200px;
    display: flex;
    font-size: x-large;
    margin:  auto;

}
.square{
    border: 3px dashed black;
}
.hdiv{
    width: 25%;
    border: 2px dotted black;
    padding: 10px;
   
}
.hdivc.hdiv{
    width: 50%;
    text-align: center;
}
.hdivs.hdiv{
    text-align: right;
}
.pink{
    background-color: palevioletred;
    height: 300px;
    width: 100%;
}
.container.nove {
    max-width: 900px;
}
.square.blu{
    background-color: blue;
    width: 60%;
    height: 400px;
}
.square.red{
    background-color: lightcoral;
    width: 40%;
    height: 400px;
}
.green{
    background-color: green;
    height: 800px;
    width: 100%;
}
.beige{
    width: 18%;
    height: 550px;
    background-color: beige;
}
.rose{
    width: 28%;
    height: 550px;
    background-color: pink;
}
.container.footer{
    justify-content: space-between;
    height: 100px;
    background-color: aquamarine;
    align-items: center;
    padding: 20px;
}
.footer-text{
    font-size: large;
    padding: 5px;
    height: fit-content;
    width: fit-content;


    background-color: blueviolet;

}